@charset "utf-8";

/* CSS Reset */
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

/* ---------GENERAL---------- */

* {
	box-sizing: border-box;
}

body {
	background-color: #C0C0C0;
	color: #333333;
	font-family: 'Varela Round', Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
}

.header {
	background-color: #333333;

}

.footer {
	background-color: #f95252;

}

.wrapper{
	width: 960px;
	margin: 0 auto;
	
}